<h1>New post</h1>

<%= render 'form' %>
<%= link_to 'Back', posts_path %>
<%= link_to 'Tweet it', posts_path %>
<a href="#" class="icon icon-user">http://www.google.com</a>


<a href="/asdfhoiasdf">aaaaa</a>
